requests==2.31.0
numpy==1.23.5
scipy==1.10.1
pandas==2.0.3
bs4==0.0.2
plotly==5.19.0
spacy==3.7.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
spacytextblob==4.0.0